body {
  background-image: url("./crowd.jpg");
  background-size: 100% 100%;
}

#gameMessage {
  background-color: white;
  padding: 1rem;
  margin-bottom: 2rem;
}

.inverted {
  background-color: green;
  color: pink;
  width: 500px;
}

.inverted#gameMessage {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  /* display: flex; */
  /* flex-direction: column; */
  padding: 1rem;
}

.item {
  background-color: blue;
  margin-bottom: 1rem;
}

@media (min-width: 50rem) {
  .container {
    /* display: flex; */
  }
  .item {
    margin: 1rem;
  }
}

#kitten {
  width: 60px;
  position: absolute;
}
